$app-basecolor: #fff;
$app-blue: rgba(5, 155, 247, 1);
$app-main: rgba(29, 29, 29, 1);
$app-desc: rgba(118, 136, 147, 1);
$app-gray: rgba(194, 204, 208, 1);
$app-red: #E02020;
$app-themecolor: #4598F0; // #F59C25
